@import "../../colors.scss";

.about-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .image-section {
    flex: 0.4;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    img {
      border-bottom: 5px solid $light-highlight-color;
      border-radius: 1%;
      width: 60%;
      transition: all 1s;
    }
  }

  .text-section {
    flex: 0.6;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    h1,
    h3,
    p {
      margin: 20px 0;
    }
    h1 {
      font-family: "Lexend Peta", sans-serif;
      line-height: 1.25;
    }
    h3 {
      font-family: "Lexend Peta", sans-serif;
      line-height: 1.25;
    }
    p {
      font-family: "Work Sans", sans-serif;
      line-height: 1.88;
      font-weight: bold;
    }
  }
  @media only screen and (max-width: 767px) {
    .image-section {
      display: none;
    }
    .text-section {
      flex: 1;
      padding: 20px;
      h1,
      h3,
      p {
        margin: 10px 0;
      }
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

.night {
  .image-section {
    img {
      border-bottom: 5px solid $dark-highlight-color;
    }
  }
}
