.circle {
  position: absolute;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  opacity: 0;
  transition: transform 0.5s;
  border-radius: 50%;

  div {
    transform: rotate(180deg);
  }
  &.day {
    &:hover {
      color: #ed4457;
    }
  }
  &.night {
    color: #8892b0;
    &:hover {
      color: #64ffda;
    }
  }
}

.m1 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition-delay: 0.1s;
  &.day {
    background: #f2f7fb;
  }
  &.night {
    background: #050c16;
  }
  @media only screen and (max-width: 576px) {
    .m1 {
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
  }
}
.m2 {
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  transition-delay: 0.2s;
  &.day {
    background: #f1f6fb;
  }
  &.night {
    background: #050d18;
  }
  @media only screen and (max-width: 576px) {
    .m2 {
      top: 40px;
      right: 40px;
      bottom: 40px;
      left: 40px;
    }
  }
}
.m3 {
  top: 100px;
  right: 100px;
  bottom: 100px;
  left: 100px;
  transition-delay: 0.3s;
  &.day {
    background: #eff5fb;
  }
  &.night {
    background: #060f1c;
  }
  @media only screen and (max-width: 576px) {
    .m3 {
      top: 80px;
      right: 80px;
      bottom: 80px;
      left: 80px;
    }
  }
}
.m4 {
  top: 150px;
  right: 150px;
  bottom: 150px;
  left: 150px;
  transition-delay: 0.4s;
  &.day {
    background: #edf4fa;
  }
  &.night {
    background: #071221;
  }
  @media only screen and (max-width: 576px) {
    .m4 {
      top: 120px;
      right: 120px;
      bottom: 120px;
      left: 120px;
    }
  }
}
.m5 {
  top: 200px;
  right: 200px;
  bottom: 200px;
  left: 200px;
  transition-delay: 0.5s;
  &.day {
    background: #eaf2f9;
  }
  &.night {
    background: #081426;
  }
  @media only screen and (max-width: 576px) {
    .m5 {
      top: 160px;
      right: 160px;
      bottom: 160px;
      left: 160px;
    }
  }
}
.m6 {
  top: 250px;
  right: 250px;
  bottom: 250px;
  left: 250px;
  transition-delay: 0.6s;
  &.day {
    background: #e8f1f9;
  }
  &.night {
    background: #09172a;
  }
  @media only screen and (max-width: 576px) {
    .m6 {
      top: 200px;
      right: 200px;
      bottom: 200px;
      left: 200px;
    }
  }
}

// @media only screen and (max-width: 576px) {
//   .m6 {
//     top: 200px;
//     right: 200px;
//     bottom: 200px;
//     left: 200px;
//   }
//   .m5 {
//     top: 160px;
//     right: 160px;
//     bottom: 160px;
//     left: 160px;
//   }
//   .m4 {
//     top: 120px;
//     right: 120px;
//     bottom: 120px;
//     left: 120px;
//   }
//   .m3 {
//     top: 80px;
//     right: 80px;
//     bottom: 80px;
//     left: 80px;
//   }
//   .m2 {
//     top: 40px;
//     right: 40px;
//     bottom: 40px;
//     left: 40px;
//   }
//   .m1 {
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;
//   }
// }
