@import "../../colors.scss";

.guptstagram-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0;
  box-shadow: 0 0 15px 0 rgba(47, 48, 50, 0.15);

  &.red {
    color: $light-highlight-color;
    border: 2px solid $light-button-hover-background;
    background-color: $light-border-color;
    &:hover {
      background-color: $light-button-hover-background;
      border: 2px solid $light-border-color;
      color: $light-background-color;
    }
  }
  &.green {
    color: $dark-highlight-color;
    border: 2px solid $dark-highlight-color;
    background-color: $dark-border-color;
    &:hover {
      background-color: $dark-highlight-color;
      border: 2px solid $dark-border-color;
      color: $dark-background-color;
    }
  }

  &:focus {
    outline: none;
  }
}
