.connect-section {
  text-align: center;
  margin-bottom: 10rem;
  padding: 0 10px;
  p {
    margin: 20px 0;
    font-family: "Lexend Peta", sans-serif;
    font-weight: bold;
    line-height: 1.88;
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
  .connect-box {
    transform: scale3d(4, 4, 4);
    position: absolute;
    bottom: 80px;
    z-index: 1;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.25s;
    transition: background 1s;
    &.open {
      background: none;
      fill: #ed4457;
    }
    &.close {
      background: #e5eff8;
    }
  }
  .connect-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px 0 rgba(47, 48, 50, 0.15);
    .connect-icons-inner {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
    }
  }
  @media only screen and (max-width: 767px) {
    p {
      font-size: 14px;
    }
  }
}

.night {
  .connect-box {
    &.close {
      background: #0a192f;
      fill: #8892b0;
    }
    &.open {
      fill: #64ffda;
    }
  }
}
