/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap'); */

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  position: fixed;
  box-sizing: border-box;
}
#night-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  position: fixed;
  box-sizing: border-box;
}

#about-section {
  width: 100%;
  height: 100%;
  background-color: #e5eff8;
  display: flex;
}

#about-section-night {
  width: 100%;
  height: 100%;
  background-color: #121212;
  display: flex;
}

#about {
  display: flex;
  width: 100%;
  height: 100%;
}

#about-text {
  flex: 0.5;
  height: 100%;
  display: flex;
  padding-left: 5rem;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
#about-text h1 {
  font-family: "Lexend Peta", sans-serif;
  line-height: 1.25;
}
#about-text h3 {
  margin-top: 20px;
  font-family: "Lexend Peta", sans-serif;
  font-weight: bold;
  line-height: 1.25;
}
#about-text p {
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  line-height: 1.88;
}

#about-pic {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#about-pic img {
  height: 100%;
  /* box-shadow: 0 0 15px 0 rgba(47, 48, 50, 0.15); */
  border-radius: 50%;
}

.resume-button button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ed4457;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: 2px solid #f5bbbf;
  background-color: #f8f8f8;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0;
}
.resume-button button:hover {
  background-color: #f5bbbf;
  border: 2px solid #f8f8f8;
  color: #e5eff8;
  box-shadow: 0 0 15px 0 rgba(47, 48, 50, 0.15);
}
.resume-button button:focus {
  outline: none;
}
#about-section-night h1,
#about-section-night h3,
#about-section-night p {
  color: #949494;
}
#about-section-night .resume-button button {
  background: #0f161e;
}
#about-section-night .resume-button button:hover {
  background: #15202b;
}
/* --------------- MEDIA QUERY -------------- */

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 660px) {
  #about-pic {
    display: none;
  }
  #about-text {
    flex: 1;
    padding: 2rem;
  }
}
@media only screen and (max-width: 375px) {
  #about-text h1 {
    font-size: 20px;
  }
  #about-text h3 {
    font-size: 18px;
  }
  #about-text p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 360px) {
  #about-text h1 {
    font-size: 16px;
  }
  #about-text h3 {
    font-size: 14px;
  }
  #about-text p {
    font-size: 12px;
  }
}
@media only screen and (max-height: 576px) {
  #about-pic {
    display: none;
  }
  #about-text {
    flex: 1;
    padding: 2rem;
    text-align: center;
  }
  #about-text h1 {
    font-size: 24px;
  }
  #about-text h3 {
    font-size: 20px;
  }
  #about-text p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 850px) and (max-height: 550px) {
  #about-pic {
    display: none;
  }
  #about-text {
    flex: 1;
    padding: 2rem;
    text-align: center;
  }
  #about-text h1 {
    font-size: 16px;
  }
  #about-text h3 {
    font-size: 14px;
  }
  #about-text p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 660px) and (max-height: 350px) {
  #about-pic {
    display: none;
  }
  #about-text {
    flex: 1;
    padding: 2rem;
    text-align: center;
  }
  #about-text h1 {
    font-size: 12px;
  }
  #about-text h3 {
    font-size: 10px;
  }
  #about-text p {
    font-size: 8px;
  }
}
