/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap"); */

#wrapper{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    position: fixed;
    box-sizing: border-box;
}
#night-wrapper{
    background:#404040;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    position: fixed;
    box-sizing: border-box;
}

.hello-text-big-font{font-size: 15rem;}
.hello-text-night{color:#F8F8F8;}
.hello-text-blue-dot{color: #E5EFF8;transition: color 1s;}

#hello-section-grey{
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
}
#hello-section-grey-night{
    width: 100%;
    height: 100%;
    background-color: #404040;
}

/* #121212 */

#hello-section-blue-half{
    width: 50%;
    background-color: #E5EFF8;
    height: 100%;
    transition:width 1s;
}
#hello-section-night-half{
    width: 50%;
    background-color: #121212;
    height: 100%;
    transition:width 1s;
}

#hello-text-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
    left: 0;
    transition: left 1s;
}

#intro-text-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    font-family: 'Lexend Giga', sans-serif;
    background: url("../assets/home-hero.svg");
    background-size: 60% 90%;
    background-position: center;
    background-repeat: no-repeat;
}


.text-effect{
    color: #ed4457;
    animation: textEffect ease-out 1s;
}

@keyframes textEffect{
    0%{
        transform: scale(0.4);
    }
    10%{
        transform: scale(0.4);
    }
    20%{
        transform: scale(0.4);
    }
    30%{
        transform: scale(0.6);
    }
    40%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.7);
    }
    60%{
        transform: scale(1);
    }
    70%{
        transform: scale(0.8);
    }
    80%{
        transform: scale(1);
    }
    90%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}

.intro-text-name-font{font-size: 7rem;animation: stroke 0.01s ease-in-out infinite alternate;}
.intro-text-developer-font{font-size: 3.8rem;animation: stroke 0.01s ease-in-out infinite alternate;}
.intro-text-apps-font{font-size: 2.9rem;animation: stroke 0.01s ease-in-out infinite alternate;}

@keyframes stroke {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #E5EFF8, 0 0 4px #E5EFF8, 0 0 5px #E5EFF8, 0 0 6px #E5EFF8, 0 0 7px #E5EFF8;
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 3px #F8F8F8, 0 0 4px #F8F8F8, 0 0 5px #F8F8F8, 0 0 6px #F8F8F8, 0 0 7px #F8F8F8, 0 0 8px #F8F8F8;
    }
}

.after-danda:after {
    content: "|" !important;
    opacity: 100%;
    animation: blink-danda 2s ease-in-out infinite;
}
@keyframes blink-danda{
    0%{
        opacity: 50%;
    }
    25%{
        opacity: 75%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}

.intro-text-quote-font{
    text-align: center;
    padding-top: 50px;
    opacity: 0;
    transition: opacity 1s;
}
.intro-text-quote-font-night{
    color:#fff;
    text-align: center;
    padding-top: 50px;
    opacity: 0;
    transition: opacity 1s;
}


/* --------------- MEDIA QUERY -------------- */

@media only screen and (min-width: 1025px) {
    .intro-text-name-font{
        font-size: 7.5rem;
    }
    .intro-text-name-font span{
        display: inline-block;
    }
    .intro-text-name-font span:hover{
        color: #ed4457;
    }
}
@media only screen and (max-width: 1024px) {
    #intro-text-box{
        background-size: 80%;
    }
}

@media only screen and (max-width: 992px) {
    .intro-text-name-font{font-size: 5rem;}
    .intro-text-developer-font{font-size: 2.7rem;}
    .intro-text-apps-font{font-size: 2.05rem;}
}

@media only screen and (max-width: 768px) {
    .hello-text-big-font{font-size: 9rem;}

    .intro-text-name-font{font-size: 2rem;}
    .intro-text-developer-font{font-size: 1.08rem;}
    .intro-text-apps-font{font-size: 0.82rem;}
}

@media only screen and (max-height: 550px) {
    .hello-text-big-font{font-size: 12rem;}
}

@media only screen and (max-height: 450px) {
    .hello-text-big-font{font-size: 10rem;}

    .intro-text-name-font{font-size: 3rem;}
    .intro-text-developer-font{font-size: 1.6rem;}
    .intro-text-apps-font{font-size: 1.2rem;}
}

