@import "../../colors.scss";

.guptstagram-logo {
  position: fixed;
  top: 20px;
  right: 20px;
  font-family: "Lexend Peta", sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
  user-select: none;
  &.day {
    color: $light-highlight-color;
  }
  &.night {
    color: $dark-highlight-color;
  }
}
