.experience-section {
  text-align: center;
  p {
    margin: 30px;
    font-family: "Lexend Peta", sans-serif;
    font-weight: bold;
    line-height: 1.88;
    font-size: 20px;
  }
  @media only screen and (max-width: 767px) {
    p {
      font-size: 13px;
    }
  }
}
