$light-border-color: #f8f8f8;
$dark-border-color: #020c1b;

$light-background-color: #e5eff8;
$dark-background-color: #0a192f;

$dark-text-color-home: #ccd6f6;

$light-text-color: #000;
$dark-text-color: #8892b0;

$light-highlight-color: #ed4457;
$dark-highlight-color: #64ffda;

$light-button-hover-background: #f5bbbf;

$day-m1:#f2f7fb;
$day-m2:#f1f6fb;
$day-m3:#eff5fb;
$day-m4:#edf4fa;
$day-m5:#eaf2f9;
$day-m6:#e8f1f9;

$night-m1:#050c16;
$night-m2:#050d18;
$night-m3:#060f1c;
$night-m4:#071221;
$night-m5:#081426;
$night-m6:#09172a;