@import "../../colors.scss";

nav {
  position: fixed;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;

  a {
    text-decoration: none;
    color: $light-text-color;
  }

  &.opened {
    width: 700px;
    height: 700px;
    top: -280px;
    left: -280px;
  }
  &.closed {
    width: 100px;
    height: 100px;
    top: -230px;
    left: -230px;
  }
}

.nav-icon {
  top: 300px;
  right: 300px;
  bottom: 300px;
  left: 300px;
  opacity: 1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 0.5s;

  &.day {
    background: $light-background-color;
  }
  &.night {
    background: $dark-background-color;
  }

  img {
    width: 40px;
    height: auto;
    user-select: none;
  }
}
@media only screen and (max-width: 576px) {
  .nav-icon {
    top: 280px;
    right: 280px;
    bottom: 280px;
    left: 280px;
    font-size: 18px;
  }
  .opened {
    .nav-icon {
      width: 120px;
      height: 120px;
    }
  }
}

.opened {
  .m1,
  .m2,
  .m3,
  .m4,
  .m5,
  .m6,
  .circle {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 140deg);
    opacity: 1;
  }
  @media only screen and (max-width: 576px) {
    .m1,
    .m2,
    .m3,
    .m4,
    .m5,
    .m6,
    .circle {
      transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 150deg);
    }
  }
}
