@import "../colors.scss";

.screen-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  position: fixed;

  &.day {
    background: $light-border-color;
  }
  &.night {
    background: $dark-border-color;
  }

  .child-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    transition: all 1s;

    &.day {
      background-color: $light-background-color;
      .highlight {
        color: $light-highlight-color;
      }
    }
    &.night {
      color: $dark-text-color;
      background-color: $dark-background-color;
      .highlight {
        color: $dark-highlight-color;
      }
    }

    .highlight {
      transition: color 1s;
    }
  }
}
